<form>
    <label for="make">Choose a make:</label>
    <select [(ngModel)]="selectedMake" id="make" name="make">
        <option *ngFor="let make of makes" [value]="make">
            {{ make }}
        </option>
    </select>
    <input type="submit" (click)="submitMake()">
</form>
<form>
    <label for="model">Choose a model:</label>
    <select [(ngModel)]="selectedModel" id="model" name="model">
        <option *ngFor="let model of models" [value]="model">
            {{ model }}
        </option>
    </select>
    <input type="submit" (click)="submitModel()">
</form>
<form>
    <label for="year">Choose a year:</label>
    <select id="year" name="year">
        <option *ngFor="let year of years" [value]="year">
            {{ year }}
        </option>
    </select>
    <input type="submit" (click)="submitYear()">
</form>
